.box1{
    width:250px;
    height:200px;
    background-color: #FFC107;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
}